<div class="spinner-border text-dark" role="status" *ngIf="!user">
  <span class="sr-only">Loading...</span>
</div>
<div class="card mx-auto" style="width:500px;" *ngIf="user" (click)="onFormClicked()">
  <div class="card-body">
    <form #f="ngForm" (ngSubmit)="onSubmit()">
      <h1 class="text-center">User No.{{user.id}}'s Info</h1>
      <div class="alert alert-success" role="alert" *ngIf="isSuccess && !isPending && !isFormClicked">
        Changes Saved
      </div>
      <div class="form-group">
        <label>Username:<span class="text-danger">*</span></label>
        <input type="text" class="form-control" [(ngModel)]="user.userName" name="username" #username="ngModel"
          [ngClass]="{'is-invalid': username.invalid && (username.dirty || username.touched)}" required>
        <div class="invalid-feedback">
          Please enter username
        </div>
      </div>
      <div class="form-group">
        <label>Email:<span class="text-danger">*</span></label>
        <input type="email" class="form-control" [(ngModel)]="user.email" name="email" #email="ngModel"
          [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched)}" required>
        <div class="invalid-feedback">
          Please enter email
        </div>
      </div>
      <div class="form-group">
        <label>First Name:</label>
        <input type="text" class="form-control" [(ngModel)]="user.firstName" name="firstname">
      </div>
      <div class="form-group">
        <label>Last Name:</label>
        <input type="text" class="form-control" [(ngModel)]="user.lastName" name="lastname">
      </div>
      <div class="form-group">
        <label>Active:</label>
        <input type="checkbox" [checked]="user.isActive" (click)="onActiveCheckBoxClicked()">
      </div>
      <div class="form-group">
          <span>Field with <span class="text-danger">*</span> is a required field</span>
      </div>
      <input type="submit" class="text-center btn btn-info mr-3" value="Save" [disabled]="f.invalid">
      <a class="btn btn-warning" [routerLink]="['/users']" routerLinkActive="router-link-active">Back to User List</a>
    </form>
  </div>
</div>
