.container{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 600px;
    background-color: #e2e2e2;
    padding: 40px;
    border-radius: 30px;
}

p{
    display: flex;
    flex-wrap: wrap;
}

button{
    width: 200px;
}