@import 'src/styles/variables';

.form-container {
  width: 100%;
  box-shadow: 0px 0px 80px 0px rgba(77, 84, 124, 0.09);
  border-radius: 0.6rem;
  padding-top: 25px;
}

.form-title {
  h3 {
    color: $gray-600;
    font-weight: 500;
    font-size: 1.2rem;
  }
}

.login-form {
  padding: 20px 20px;
}

.form-control {
  border: 0px;
  border-bottom: 1px solid $gray-100;
  box-shadow: none;
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 1.5;
  color: $gray-700;
  background-color: $white;
  background-clip: padding-box;
  margin-bottom: 26px;

  &:focus {
    border-color: $sky-blue;
    outline: none;
  }
}

input {
  border-radius: 0px;
  padding-left: 0px;
}
