
<div *ngIf="isLoading">
  <mat-progress-bar mode="indeterminate">ss</mat-progress-bar>
</div>

<nav class="d-flex justify-content-between">
  <h1 class="mt-2 ml-3">List of Users</h1>
</nav>

<div *ngIf="users.length === 0 && finishLoading">
  <span>There is no user to display</span>
</div>

<!-- <div class="spinner-border text-dark" role="status" *ngIf="isLoading">
   <span class="sr-only">Loading...</span> 
  <p><ngb-progressbar type="success" [value]="100" [striped]="true"></ngb-progressbar></p>
</div> -->



<div class="card" *ngIf="users.length !== 0 && !isLoading">
  <div class="card-body">
    <table class="table mt-3">
      <thead>
        <tr>
          <th scope="col">User Name</th>
          <th scope="col">Email</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">State</th>
          <th scope="col">Last Updated</th>
          <th scope="col">View Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | paginate: { itemsPerPage: 2, currentPage: p}">
          <td>{{ user.userName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.isActive && "Active" ||"Inactive" }}</td>
          <td>{{ user.lastUpdated | date: 'MMM dd, yyyy' }}</td>
          <td>
            <a class="btn btn-info btn-sm" routerLink="./{{user.id}}">View Details</a>
            <button class="btn btn-danger btn-sm ml-2" (click)="deleteUser(user)">Delete User</button>
          </td>
        </tr>      
      </tbody>
    </table>
    <div>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" (click)="changeUserPageNumber(1)">1</a></li>
          <li class="page-item"><a class="page-link" (click)="changeUserPageNumber(2)">2</a></li>
          <li class="page-item"><a class="page-link" (click)="changeUserPageNumber(3)">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="adduser">
      <button class="btn btn-primary" [routerLink]="['./add']" routerLinkActive="router-link-active">Add User</button>
    </div>
  </div>
</div>
