.head {
  padding: 26px 39px;
}

.body {
  margin-top: 4rem;
}

.sign-up {
  font-size: 0.9rem;
  font-weight: 600;

  span {
    color: #9D9FB1;
    padding-right: 0.5rem;
  }
}

.wrapper {
  font-size: 0.9em;
}

.form-action {
  margin-top: 3rem;
  width: 100%;

  button {
    padding: 0.7rem 2.4rem;
    color: #fff;
    font-weight: 500;
  }
}

.aside-img {
  img {
    max-width: 100%;
    width: 90%;
  }
}
